---
import UserProfile from '../components/form/ui/UserProfile.tsx';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Hexagonal Frontend Example</title>
  </head>
  <body>
    <h1>Ejemplo de Arquitectura Hexagonal en Frontend</h1>
     <UserProfile client:load />
  </body>
</html>
